@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #f9faf8;
}
header {
    background-color: #1F2937;
    color: #f9faf8;
    margin: -8px;
}
ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
li {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}
.header{
    display: flex;
    justify-content: space-around;
    
}
.header-title {
    font-weight: bold;
    font-size: 24px;
}
.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 80px;
}
.header-content {
    width: 400px;
}
.image { /*Box for the placeholder image */
    background-color: gray;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: #3882f6;
    border-radius: 5px;
    border-style: none;
    width: 80px;
    height: 30px;
}
/*.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}*/
.subtitle {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}
.text {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {   /* Box that contains the image placeholder and text  */
    width: 100px;
    min-height: 100px; /*! So that the page dosent overflow*/
    text-align: center;
    padding-bottom: 100px;
}
.subimage { /* Draw of a box */
    border: 3px solid #3882f6;
    border-radius: 10px;
    background: transparent;
    width: 100px;
    height: 100px;
}
.quote-text {
    display: flex;
    background-color: #E5E7EB;
    font-style: italic;
    color: #1F2937;
    flex-direction: column;
    padding: 100px;
}
.quote{
    text-align: center;
    font-size: 36px;
}
.quote-autor {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 26px;
}
.action {
    display: flex;
    justify-content: center;
    padding: 4rem;
}
.sign-up {
    background-color: #3882f6;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    border-radius: 10px;
    
}
.bttnsignup {
    background-color: #3882F6;
    border-radius: 5px;
    border-style: solid;
    border-color: #E5E7EB;
    width: 100px;
    height: 25px;
}
.footer {
    margin: -8px;
    padding: 30px;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
}